.usevideo
    .usevideo__information
        -
            var headlineChoose = {
                item:'Полезный видео материал',
                text:'Самые последние выступления. Обучающие тренинги.',
                link:'#'
            };
        include ../headline/module
    .usevideo__content
        include ../video/module