.usevideo {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 150px auto;
    padding: 25px;
    border-radius: 10px;
    background-color: $black;
    box-shadow: 0 15px 25px rgba(31, 29, 29, 0.37);
    z-index: 10;

    &__information {
        padding-top: 25px;
        padding-left: 20px;
    }

    &__content {
        margin-left: 27%;
    }

    .headline__section {
        line-height: 40px;
        margin-bottom: 15px;
    }

    .headline__content {
        color: $gray;
    }

    .headline__link {
        color: $orange;

        span {
            background-color: $orange;
        }
    }

}

@media (max-width: $wrap) {
    .usevideo {
        &__content {
            margin-left:  15%;
        }
    }
}

@media (max-width: $desktop) {
    .usevideo {
        &__content {
            margin-left:  15%;
        }
    }
}

@media (max-width: $laptopLg) {
    .usevideo {
        &__content {
            margin-left: 5%;
        }

        &__information {
            padding-top: 0;
            padding-left: 0;
        }
    }
}

@media (max-width: $laptop) {
    .usevideo {
        .video iframe {
            width: 320px;
            height: 180px;
        }
    }
}

@media (max-width: $laptopXs) {
    .usevideo {
        width: 93%;
        margin: 15% auto;
    }
}

@media (max-width: 700px) {
    .usevideo {
        display: block;
        width: 93%;
        margin: 15% auto;

        &__content {
            margin-top: 15px;
            margin-left: 25%;
        }

        .headline__content {
            text-align: center;
            margin-bottom: 10px
        }

        .headline__section {
            text-align: center;
        }

        .headline__link {
            left: 37%;
        }
    }
}

@media (max-width: $mobileLg) {
    .usevideo {
        margin-top: 35%;

        .headline__section {
            font-size: 2em;
        }
    }
}

@media (max-width: $mobileL) {
    .usevideo {
        &__content {
            margin-left: 20%;
        }
    }
}

@media (max-width: $mobile) {
    .usevideo {
        margin-top: 45%;

        .headline__section {
            font-size: 1.5em;
        }

        &__content {
            margin-left: 15%;
        }
    }
}

@media (max-width: $mobileXs) {
    .usevideo {
        margin: 0 auto;
        margin-top: 50%;
        width: 86.5%;

        &__content {
            margin-left: 2.5%;
        }

        .headline__link {
            left: 30%;
        }
    }
}