.usevideo {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 150px auto;
    padding: 25px;
    border-radius: 10px;
    background-color: $black;
    z-index: 10;

    &__information {
        padding-top: 25px;
        padding-left: 20px;
    }

    &__content {
        margin-left: 27%;
    }

    .headline__section {
        line-height: 40px;
        margin-bottom: 15px;
    }

    .headline__content {
        color: $gray;
    }

    .headline__link {
        color: $orange;

        span {
            background-color: $orange;
        }
    }

}