.news-slider
    .news-slider__info-container
        .news-slider__info
            -
                var headlineChoose = {
                    item:'Новости',
                    text:'Самые актуальные новости в сфере горной добычи и разведки',
                    link:'#'
                };
            include ../headline/module
    .news-slider__content
        .news-slider__slide
            -
                var newSlide = {
                    link:'#',
                    local:'Мировые',
                    par:'Роль природных ресурсов в возникновении конфликтов',
                    data:'10.04.2017',
                    text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
                    ltitle:'Источник: cyberleninka.ru'
                };
            include ../news-slide/module
        .news-slider__slide
            -
                var newSlide = {
                    link:'#',
                    local:'Мировые',
                    par:'Роль природных ресурсов в возникновении конфликтов',
                    data:'10.04.2017',
                    text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
                    ltitle:'Источник: cyberleninka.ru'
                };
            include ../news-slide/module
        .news-slider__slide
            -
                var newSlide = {
                    link:'#',
                    local:'Мировые',
                    par:'Роль природных ресурсов в возникновении конфликтов',
                    data:'10.04.2017',
                    text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
                    ltitle:'Источник: cyberleninka.ru'
                };
            include ../news-slide/module
        .news-slider__slide
            -
                var newSlide = {
                    link:'#',
                    local:'Мировые',
                    par:'Роль природных ресурсов в возникновении конфликтов',
                    data:'10.04.2017',
                    text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
                    ltitle:'Источник: cyberleninka.ru'
                };
            include ../news-slide/module
        .news-slider__slide
            -
                var newSlide = {
                    link:'#',
                    local:'Мировые',
                    par:'Роль природных ресурсов в возникновении конфликтов',
                    data:'10.04.2017',
                    text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
                    ltitle:'Источник: cyberleninka.ru'
                };
            include ../news-slide/module
        .news-slider__slide
            -
                var newSlide = {
                    link:'#',
                    local:'Мировые',
                    par:'Роль природных ресурсов в возникновении конфликтов',
                    data:'10.04.2017',
                    text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
                    ltitle:'Источник: cyberleninka.ru'
                };
            include ../news-slide/module
        .news-slider__slide
            -
                var newSlide = {
                    link:'#',
                    local:'Мировые',
                    par:'Роль природных ресурсов в возникновении конфликтов',
                    data:'10.04.2017',
                    text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
                    ltitle:'Источник: cyberleninka.ru'
                };
            include ../news-slide/module
        .news-slider__slide
            -
                var newSlide = {
                    link:'#',
                    local:'Мировые',
                    par:'Роль природных ресурсов в возникновении конфликтов',
                    data:'10.04.2017',
                    text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
                    ltitle:'Источник: cyberleninka.ru'
                };
            include ../news-slide/module
        .news-slider__slide
            -
                var newSlide = {
                    link:'#',
                    local:'Мировые',
                    par:'Роль природных ресурсов в возникновении конфликтов',
                    data:'10.04.2017',
                    text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
                    ltitle:'Источник: cyberleninka.ru'
                };
            include ../news-slide/module
