.news-slider {
    position: relative;
    background: linear-gradient(to bottom, $dark-orange 17%, $orange);
    height: 500px;

    
    .tns-controls {
        position: absolute;
        left: -29%;
        bottom: 23%;
        height: 38px;
        z-index: 1;
    }
    
    &__gallery-arrow {
        display: block;
        position: absolute;
        border: 1px solid $red-gray;
        background-color: transparent;
        border-radius: 50%;  
        width: 45px;
        height: 45px;
        
        
        &--prev {
            transform: rotate(180deg);
            left: 20px;
        }

        &--next {
            left: 145px;
        }
    }
    
    .tns-nav {
        display: block;
        position: absolute;
        left: -22.5%;
        top: 75%;
        z-index: 1;
        
        button {
            margin-left: 10px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            border: 1px solid $red-gray;
            background-color: inherit;
            
        }
        
        &-active {
            background-color: $red-gray  !important;
        }
    }
    
    &__slide {
        position: relative;
        max-height: 100vh;
        line-height: 0;
    }
    
    
    &__info-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        width: 17%;
        top: 30%;
        left: 3%;
        
    }

    &__info {
        position: relative;
        z-index: 10;
        width: 340px;
    }

    .tns-outer {
        position: relative;
        width: 76%;
        left: 100%;
        transform: translateX(-100%);
    }

    .tns-inner {
        height: 350px;
        margin-top: 150px !important; 
    }
}