.dropdown {
    font-family: Raleway;
    
    &--initialized {
        .dropdown__origional {
            position: absolute;
            transform: scale(0.001);
            opacity: 0.001;
        }
    }

    &__origional {
        display: block;
        width: 45px;
    }

    &__fake {
        display: inline-block;
        position: relative;

        &-select {
            position: relative;
            padding: 6px 7px;
            width: 45px;
            font: inherit;
            font-size: 14px;
            text-align: left;
            background-color: transparent;
            color: rgba($color: #f4f6f7, $alpha: 0.5);
            cursor: pointer;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 10px;
                width: 1px;
                height: 6px;
                background-color: rgba($color: #f4f6f7, $alpha: 0.5);
            }

            &::before {
                transform: rotate(-45deg);
                right: 13px;
            }

            &::after {
                transform: rotate(45deg);
                right: 9.5px;
            }
        }

        &-list {
            display: none;
            position: absolute;
            right: 0;
            left: 0;
            z-index: 10;
            max-height: 300px;
            overflow-y: auto;
            opacity: 0;
            transition: opacity 0.6s;
            border: 1px solid $red-gray;
            color: rgba($color: #f4f6f7, $alpha: 0.5);

            &--opened {
                display: block;
                opacity: 1;
            }
        }

        &-option {
            padding: 9px 12px;
            font-size: 13px;
            background-color: $dark-orange;
            cursor: pointer;

            &--active {
                display: none;
            }

        }
    }
}
