.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 17px 40px;
    z-index: 15;
    background-color: $dark-orange;

    &__icon {
        margin-left: 25px;
        width: 17.3%;
    }
    
    &__menubar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 25px;
    }

    &__about-us {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__dropdown-box {
        margin-left: 30px;
    }

    
    &__login {
        align-self: center;
        margin-left: 15px;
        padding: 5px 33px;
        background-color: $red-gray;
        color: $dark-orange;
        border-radius: 7px;
        font-size: medium;
    }


    &__info {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__sailing {
        @extend .header__info;
    }

    &__title,
    &__item {
        margin-left: 25px;
    }

    &__title-link {
        font-size: 0.87em;
        line-height: 0.5em;
        color: rgba($color: #f4f6f7, $alpha: 0.5);
    }

    &__item-link {
        @extend .header__title-link;
        color: $red-gray;
        font-size: 1em;
    }

    &__burger-main {
        display: none;
        margin: 0 15px;
    }

    max-width: 1366px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: $laptop) {
    .header {
        &__title-link {
            font-size: 0.75em;
        }

        &__menu {
            width: 102%;
            margin-top: 10px;
        }

        &__sailing {
            justify-content: start;
        }
    }
}

@media (max-width: $laptopXs) {
    .header {
        height: 36px;

        &__menu {
            position: absolute;
            right: 140px;
            top: 60px;
            width: 17.5%;
            z-index: -15;
            opacity: 0;
            background-color: $dark-orange;
            transition: 0.3s;

            &--opened {
                z-index: 100;
                opacity: 1;
            }
        }

        &__item {
            margin-bottom: 10px;
            padding: 5px;
        }

        &__icon {
            width: 15%;
        }

        &__burger-main {
            display: block;
        }
    }
}

@media (max-width: $tablet) {
    .header {
        &__icon {
            width: 20%;
        }
    }
}

@media (max-width: $mobileLg) {
    .header {

        &__menubar {
            margin-right: 15px;
        }

        &__icon {
            margin-left: 15px;
        }

        &__title {
            margin-left: 20px;
        }

        &__burger-main {
            margin: 0 5px;
        }

        &__dropdown-box {
            margin-left: 0;
        }
    }
}

@media (max-width: $mobileL) {
    .header {

        &__icon {
            width: 23%;
        }

        &__info {
            display: none;
        }

        &__burger-main {
            margin: 0 15px;
        }
    }
}

@media (max-width: $mobileXs) {
    .header {
        &__icon {
            width: 33%;
        }
    }
}