extends ../templates/base

block variables
    - pageTitle = 'Home Page'
    - bodyClass = 'body__home'

block content
    include ../modules/header/module
    include ../modules/news-slider/module
    include ../modules/project-slider/module
    include ../modules/usefull-video/module
    include ../modules/footer/module