extends ../templates/base

block variables
    - pageTitle = 'Home Page'
    - bodyClass = 'body__home'

block content
    .container
        include ../modules/header/module
        include ../modules/news-slider/module
        include ../modules/project-slider/module
        include ../modules/usefull-video/module
        //- .article-items
        //-     .article-items__left
        //-         -
        //-             var articleContainer = {
        //-                 right: true,
        //-                 hat:'История успеха',
        //-                 topic:'Реальные примеры из истории бмзнеса успехов молодых компаний'
        //-             };
        //-         include ../modules/article-container/module
        //-     .article-items__right
        //-         -
        //-             var articleContainer = {
        //-                 right: false,
        //-                 hat:'Научные статьи',
        //-                 topic:'Отчеты о проведенных исследований ведущих специалистов нашей отрасли'
        //-             };
        //-         include ../modules/article-container/module
        //- .feedback-form
        //-     -
        //-         var feedBack = {
        //-             hat:'Будьте в курсе последних новостей',
        //-             mass:'Будьте в курсе самых последних событий и новостей в горнодобывающей сфере'
        //-         };
        //-     include ../modules/feedback/module
        //- include ../modules/footer/module