.feedback
    p.feedback__title= feedBack.hat
    p.feedback__info= feedBack.mass
    form.feedback__form
        input.feedback__name(type="text", placeholder="Введите имя")
        input.feedback__email(type="text", placeholder="Введите e-mail")
        button.feedback__button(type="submit") Следить