.container {
    max-width: 1446px;
    width: 100%;
    margin: 0 auto;
}

.article-items {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -265px;
    box-shadow: 0 7.5px 25px rgba(31, 29, 29, 0.37);
    overflow: hidden;

    &__left {
        background-color: $red-gray;
        z-index: -1;
    }

    &__right {
        padding-left: 50px;
    }
}

.feedback-form {
    margin-top: -19.5%;
    background-color: $blue-gray;
    padding: 75px 0;
}