.project-slider
    .project-slider__info-container
        .project-slider__info
            -
                var headlineChoose = {
                    item:'Проекты',
                    text:'Профили проектов на продажу, перепродажу, аренду.',
                    link:'#'
                };
            include ../headline/module
    .project-slider__content
        .project-slider__slide
            -
                var projectSlide = {
                    link:'#',
                    img:'project-slide1.png',
                    section:'Природные ресурсы Актауской области',
                    view:'Руда',
                    type:'Аренда',
                    region:'Западный Казахстан'
                };
            include ../project-slide/module
        .project-slider__slide
            -
                var projectSlide = {
                    link:'#',
                    img:'project-slide2.png',
                    section:'Природные ресурсы Актауской области',
                    view:'Руда',
                    type:'Аренда',
                    region:'Западный Казахстан'
                };
            include ../project-slide/module
        .project-slider__slide
            -
                var projectSlide = {
                    link:'#',
                    img:'project-slide3.png',
                    section:'Природные ресурсы Актауской области',
                    view:'Руда',
                    type:'Аренда',
                    region:'Западный Казахстан'
                };
            include ../project-slide/module
        .project-slider__slide
            -
                var projectSlide = {
                    link:'#',
                    img:'project-slide1.png',
                    section:'Природные ресурсы Актауской области',
                    view:'Руда',
                    type:'Аренда',
                    region:'Западный Казахстан'
                };
            include ../project-slide/module
        .project-slider__slide
            -
                var projectSlide = {
                    link:'#',
                    img:'project-slide2.png',
                    section:'Природные ресурсы Актауской области',
                    view:'Руда',
                    type:'Аренда',
                    region:'Западный Казахстан'
                };
            include ../project-slide/module
        .project-slider__slide
            -
                var projectSlide = {
                    link:'#',
                    img:'project-slide3.png',
                    section:'Природные ресурсы Актауской области',
                    view:'Руда',
                    type:'Аренда',
                    region:'Западный Казахстан'
                };
            include ../project-slide/module
        .project-slider__slide
            -
                var projectSlide = {
                    link:'#',
                    img:'project-slide1.png',
                    section:'Природные ресурсы Актауской области',
                    view:'Руда',
                    type:'Аренда',
                    region:'Западный Казахстан'
                };
            include ../project-slide/module
        .project-slider__slide
            -
                var projectSlide = {
                    link:'#',
                    img:'project-slide2.png',
                    section:'Природные ресурсы Актауской области',
                    view:'Руда',
                    type:'Аренда',
                    region:'Западный Казахстан'
                };
            include ../project-slide/module
        .project-slider__slide
            -
                var projectSlide = {
                    link:'#',
                    img:'project-slide3.png',
                    section:'Природные ресурсы Актауской области',
                    view:'Руда',
                    type:'Аренда',
                    region:'Западный Казахстан'
                };
            include ../project-slide/module