.project-slider {
    position: relative;
    height: 250px;

    
    .tns-controls {
        position: absolute;
        right: 0;
        height: 38px;
        z-index: 1;
    }
    
    &__gallery-arrow {
        display: block;
        position: absolute;
        border: 1px solid $gray;
        background-color: transparent;
        border-radius: 50%;  
        width: 45px;
        height: 45px;
        
        
        &--prev {
            top: 135px;
            transform: rotate(180deg);
        }

        &--next {
            top: 250px;
        }
    }
    
    .tns-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -30px;
        top: 180px; 
        z-index: 1;
        
        button {
            margin-top: 10px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $red-gray;
            
        }
        
        &-active {
            background-color: $orange  !important;
        }
    }
    
    &__slide {
        position: relative;
        max-height: 100vh;
        line-height: 0;
    }
    
    
    &__info-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        width: 17%;
        top: 30%;
        left: 3%;
        
    }

    &__info {
        position: relative;
        z-index: 10;
        width: 340px;
    }

    .tns-outer {
        position: relative;
        width: 70%;
        left: 94%;
        transform: translateX(-100%);
    }

    .tns-inner {
        height: 350px;
        margin-top: 75px !important; 
    }

    .arrow {
        &::before,
        &::after {
            background-color: $gray;
        }
    }

    .headline {
        &__section {
            color: $black;
        }

        &__content {
            color: $gray;
        }

        &__link {
            color: $orange;
    
            span {
                background-color: $orange;
            }
        }
    }
}

@media (max-width: $hdr) {
    .project-slider {
        .pslide {
            width: 215px;
        }
    }
}

@media (max-width: $laptop) {
    .project-slider {
        .pslide {
            width: 200px;
        }
    }
}

@media (max-width: $laptopXs) {
    .project-slider {
        .pslide {
            width: 200px;
        }

        .tns-outer {
            width: 50%;
        }

        &__info-container {
            left: 15%;
        }
    }
}

@media (max-width: $tablet) {
    .project-slider {
        .tns-outer {
            width: 60%;
        }
    }
}

@media (max-width: $mobileLg) {
    .project-slider {

        &__info-container {
            display: block;
            top: 0;
            left: 22%;
        }

        &__info {
            width: 300px;
        }

        .headline__content {
            text-align: center;
            margin-bottom: 10px;
        }

        .headline__section {
            text-align: center;
        }

        .headline__link {
            left: 25%;
        }

        .tns-outer {
            top: 30%;
            width: 100%;
        }

        .tns-controls {
            left: 50%;
        }

        .tns-nav {
            flex-direction: row;
            justify-content: space-between;
            top: 80%;
            right: 35%;

            button {
                margin: 0 5px;
            }
        }

        #tns2-mw {
            margin-left: 10%;
        }

        .pslide {
            width: 200px;
        }


        &__gallery-arrow {
            &--prev {
                top: 15px;
                left: -80%;
            }
            &--next {
                top: 15px;
                left: 80%;
            }
        }
    }
}

@media (max-width: $mobileL) {
    .project-slider {
        #tns2-mw {
            margin-left: 20%;
        }
    }
}

@media (max-width: $mobile) {
    .project-slider {

        &__info {
            width: 250px;
        }

        .headline__link {
            left: 20%;
        }

        #tns2-mw {
            margin-left: 10%;
        }
    }
}

@media (max-width: 460px) {
    .project-slider {

        #tns2-mw {
            margin-left: 35%;
        }

        .tns-nav {
            right: 25%;
        }
    }
}