doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        - var pageTitle
        title= pageTitle
        link(href="./../app/assets/stylesheets/main.css", rel="stylesheet")
    - var bodyClass
    block variables
    body(class=bodyClass)
        div#wrap
            main.main
                block content
            if support 
        block scripts
        script(src="./../app/assets/javascripts/main.js")