@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input[type="checkbox"], input[type="radio"] {
  cursor: pointer; }

a {
  text-decoration: none;
  cursor: pointer; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer; }

button:focus {
  outline: 0; }

.tns-outer .tns-nav,
.tns-outer button[data-action="stop"],
.tns-outer button[data-action="start"] {
  display: none; }

body {
  line-height: 1;
  font-family: 'Raleway', Arial, Helvetica, sans-serif; }

.learn-more, .learn-more::before, .learn-more::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: inherit; }

.learn-more {
  top: 5px;
  left: 6px; }

.learn-more::before {
  width: 5px;
  top: 1.55px;
  left: 5.5px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

.learn-more::after {
  width: 5px;
  top: -1.55px;
  left: 5.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 1px;
  background-color: #f7f7f7; }

.arrow::after {
  top: 37%;
  left: 38%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.arrow::before {
  top: 60%;
  left: 38%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

.burger-menu {
  display: inline-block;
  position: relative;
  top: -4px; }
  .burger-menu, .burger-menu::before, .burger-menu::after {
    width: 25px;
    height: 3px;
    border-radius: 2px;
    background-color: rgba(244, 246, 247, 0.5); }
  .burger-menu::before, .burger-menu::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0; }
  .burger-menu::before {
    top: -7px; }
  .burger-menu::after {
    top: 7.5px; }

@font-face {
  font-family: "Raleway";
  src: url("./../fonts/Raleway/Raleway-Regular.eot?") format("eot"), url("./../fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("./../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("./../fonts/Raleway/Raleway-Regular.ttf") format("truetype"), url('./../fonts/Raleway/Raleway-Regular.svg#str-replace(Raleway, " ", "_")') format("svg"); }

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url("./../fonts/Raleway/Raleway-Bold.eot?") format("eot"), url("./../fonts/Raleway/Raleway-Bold.woff2") format("woff2"), url("./../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("./../fonts/Raleway/Raleway-Bold.ttf") format("truetype"), url('./../fonts/Raleway/Raleway-Bold.svg#str-replace(Raleway, " ", "_")') format("svg"); }

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  src: url("./../fonts/Raleway/Raleway-Italic.eot?") format("eot"), url("./../fonts/Raleway/Raleway-Italic.woff2") format("woff2"), url("./../fonts/Raleway/Raleway-Italic.woff") format("woff"), url("./../fonts/Raleway/Raleway-Italic.ttf") format("truetype"), url('./../fonts/Raleway/Raleway-Italic.svg#str-replace(Raleway, " ", "_")') format("svg"); }

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: bold;
  src: url("./../fonts/Raleway/Raleway-BoldItalic.eot?") format("eot"), url("./../fonts/Raleway/Raleway-BoldItalic.woff2") format("woff2"), url("./../fonts/Raleway/Raleway-BoldItalic.woff") format("woff"), url("./../fonts/Raleway/Raleway-BoldItalic.ttf") format("truetype"), url('./../fonts/Raleway/Raleway-BoldItalic.svg#str-replace(Raleway, " ", "_")') format("svg"); }

@font-face {
  font-family: "Lato";
  src: url("./../fonts/Lato/Lato-Regular.eot?") format("eot"), url("./../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("./../fonts/Lato/Lato-Regular.woff") format("woff"); }

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url("./../fonts/Lato/Lato-Bold.eot?") format("eot"), url("./../fonts/Lato/Lato-Bold.ttf") format("truetype"), url("./../fonts/Lato/Lato-Bold.woff") format("woff"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("./../fonts/Lato/Lato-Italic.eot?") format("eot"), url("./../fonts/Lato/Lato-Italic.ttf") format("truetype"), url("./../fonts/Lato/Lato-Italic.woff") format("woff"); }

@font-face {
  font-family: 'iconic';
  src: url("./../iconfont/iconfont.eot");
  src: url("./../iconfont/iconfont.eot?iefix") format("eot"), url("./../iconfont/iconfont.woff") format("woff"), url("./../iconfont/iconfont.ttf") format("ttf"), url("./../iconfont/iconfont.svg#iconic") format("svg"); }

.iconic {
  font-family: 'iconic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  line-height: normal;
  vertical-align: middle; }
  .iconic--shopping-cart::after {
    content: ""; }
  .iconic--user::after {
    content: ""; }
  .iconic--four-columns::after {
    content: ""; }
  .iconic--two-columns::after {
    content: ""; }
  .iconic--photo::after {
    content: ""; }
  .iconic--calendar::after {
    content: ""; }
  .iconic--email::after {
    content: ""; }
  .iconic--facebook::after {
    content: ""; }
  .iconic--instagram::after {
    content: ""; }
  .iconic--location::after {
    content: ""; }
  .iconic--paper-plane::after {
    content: ""; }
  .iconic--phone-call::after {
    content: ""; }
  .iconic--search::after {
    content: ""; }
  .iconic--vk::after {
    content: ""; }
  .iconic--sent-mail::after {
    content: ""; }
  .iconic--paper-clip::after {
    content: ""; }
  .iconic--print::after {
    content: ""; }

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 17px 40px;
  z-index: 15;
  background-color: #ef4c2a;
  max-width: 1366px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .header__icon {
    margin-left: 25px;
    width: 17.3%; }
  .header__menubar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 25px; }
  .header__about-us {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header__dropdown-box {
    margin-left: 30px; }
  .header__login {
    align-self: center;
    margin-left: 15px;
    padding: 5px 33px;
    background-color: #f7f7f7;
    color: #ef4c2a;
    border-radius: 7px;
    font-size: medium; }
  .header__info {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; }
  .header__sailing {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; }
  .header__title, .header__item {
    margin-left: 25px; }
  .header__title-link, .header__item-link {
    font-size: 0.87em;
    line-height: 0.5em;
    color: rgba(244, 246, 247, 0.5); }
  .header__item-link {
    color: #f7f7f7;
    font-size: 1em; }
  .header__burger-main {
    display: none;
    margin: 0 15px; }

@media (max-width: 985px) {
  .header__title-link, .header__item-link {
    font-size: 0.75em; }
  .header__menu {
    width: 102%;
    margin-top: 10px; }
  .header__sailing {
    justify-content: start; } }

@media (max-width: 860px) {
  .header {
    height: 36px; }
    .header__menu {
      position: absolute;
      right: 140px;
      top: 60px;
      width: 17.5%;
      z-index: -15;
      opacity: 0;
      background-color: #ef4c2a;
      transition: 0.3s; }
      .header__menu--opened {
        display: block;
        z-index: 100;
        opacity: 1; }
    .header__item {
      margin-bottom: 10px;
      padding: 5px; }
    .header__icon {
      width: 15%; }
    .header__burger-main {
      display: block; } }

@media (max-width: 768px) {
  .header__icon {
    width: 20%; } }

@media (max-width: 600px) {
  .header__menubar {
    margin-right: 15px; }
  .header__icon {
    margin-left: 15px; }
  .header__title {
    margin-left: 20px; }
  .header__burger-main {
    margin: 0 5px; }
  .header__dropdown-box {
    margin-left: 0; } }

@media (max-width: 560px) {
  .header__icon {
    width: 23%; }
  .header__info {
    display: none; }
  .header__burger-main {
    margin: 0 15px; } }

@media (max-width: 400px) {
  .header {
    justify-content: start;
    padding: 10px 0;
    left: 49%; }
    .header__icon {
      width: 33%; }
    .header__item {
      margin-left: 0; } }

.dropdown {
  font-family: Raleway; }
  .dropdown--initialized .dropdown__origional {
    position: absolute;
    -webkit-transform: scale(0.001);
            transform: scale(0.001);
    opacity: 0.001; }
  .dropdown__origional {
    display: block;
    width: 45px; }
  .dropdown__fake {
    display: inline-block;
    position: relative; }
    .dropdown__fake-select {
      position: relative;
      padding: 6px 7px;
      width: 45px;
      font: inherit;
      font-size: 14px;
      text-align: left;
      background-color: transparent;
      color: rgba(244, 246, 247, 0.5);
      cursor: pointer; }
      .dropdown__fake-select::before, .dropdown__fake-select::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 1px;
        height: 6px;
        background-color: rgba(244, 246, 247, 0.5); }
      .dropdown__fake-select::before {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        right: 13px; }
      .dropdown__fake-select::after {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        right: 9.5px; }
    .dropdown__fake-list {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      z-index: 10;
      max-height: 300px;
      overflow-y: auto;
      opacity: 0;
      transition: opacity 0.6s;
      border: 1px solid #f7f7f7;
      color: rgba(244, 246, 247, 0.5); }
      .dropdown__fake-list--opened {
        display: block;
        opacity: 1; }
    .dropdown__fake-option {
      padding: 9px 12px;
      font-size: 13px;
      background-color: #ef4c2a;
      cursor: pointer; }
      .dropdown__fake-option--active {
        display: none; }

.headline {
  background-color: transparent; }
  .headline__section {
    font-size: 2.5em;
    line-height: 70px;
    font-weight: 800;
    color: #f7f7f7; }
  .headline__content {
    font-size: 1em;
    line-height: 22px;
    color: #f7f7f7;
    margin-bottom: 40px; }
  .headline__link {
    position: relative;
    color: rgba(244, 246, 247, 0.5); }
    .headline__link span {
      top: 10px;
      left: 155px;
      background-color: rgba(244, 246, 247, 0.5); }

.nslide {
  display: block;
  width: 200px;
  border-radius: 15px;
  background-color: white;
  padding: 15px 25px;
  box-shadow: 0 10px 25px rgba(31, 29, 29, 0.37); }
  .nslide__location {
    background: linear-gradient(to right, #ef4c2a, #f19104);
    padding: 2px 10px;
    width: 35%;
    font-size: 1em;
    line-height: 18px;
    text-align: right;
    color: #f7f7f7;
    margin: 10px 0; }
  .nslide__headline {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 18px;
    color: #3c3c3c; }
  .nslide__datatime, .nslide__from {
    font-size: 12px;
    line-height: 24px;
    color: #9d9d9d;
    margin-bottom: 5px; }
  .nslide__content {
    margin: 15px 0;
    font-size: 14px;
    line-height: 18px;
    color: #3c3c3c; }
  .nslide__from {
    color: #9d9d9d; }
  .nslide:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 270px;
    box-shadow: none;
    background: linear-gradient(rgba(36, 35, 35, 0.39), rgba(36, 35, 35, 0.39)), url(/app/assets/images/background-image.png) no-repeat 35%;
    background-size: cover; }
    .nslide:hover .nslide__headline {
      color: #f7f7f7; }
    .nslide:hover .nslide__content {
      display: none; }

.pslide {
  display: block;
  width: 250px;
  margin-bottom: 25px; }
  .pslide__section {
    font-size: 1.2em;
    line-height: 22px;
    font-weight: 600;
    color: #3c3c3c;
    margin: 10px 0; }
  .pslide__data {
    display: flex; }
  .pslide__key-item, .pslide__value-list {
    font-size: 0.75em;
    line-height: 16px;
    color: #9d9d9d; }
  .pslide__value-list {
    color: #282828;
    margin-left: 15px; }

.news-slider {
  position: relative;
  background: linear-gradient(to bottom, #ef4c2a 17%, #f19104);
  height: 500px; }
  .news-slider .tns-controls {
    position: absolute;
    left: -29%;
    bottom: 23%;
    height: 38px;
    z-index: 1; }
  .news-slider__gallery-arrow {
    display: block;
    position: absolute;
    border: 1px solid #f7f7f7;
    background-color: transparent;
    border-radius: 50%;
    width: 45px;
    height: 45px; }
    .news-slider__gallery-arrow--prev {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      left: 20px; }
    .news-slider__gallery-arrow--next {
      left: 145px; }
  .news-slider .tns-nav {
    display: block;
    position: absolute;
    left: -22.5%;
    top: 75%;
    z-index: 1; }
    .news-slider .tns-nav button {
      margin-left: 10px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      border: 1px solid #f7f7f7;
      background-color: inherit; }
    .news-slider .tns-nav-active {
      background-color: #f7f7f7 !important; }
  .news-slider__slide {
    position: relative;
    max-height: 100vh;
    line-height: 0; }
  .news-slider__info-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 17%;
    top: 30%;
    left: 3%; }
  .news-slider__info {
    position: relative;
    z-index: 10;
    width: 340px; }
  .news-slider .tns-outer {
    position: relative;
    width: 76%;
    left: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .news-slider .tns-inner {
    height: 350px;
    margin-top: 150px !important; }

@media (max-width: 1360px) {
  .news-slider__gallery-arrow--next {
    left: 140px; } }

@media (max-width: 1200px) {
  .news-slider__gallery-arrow--prev {
    left: 0; }
  .news-slider .tns-nav {
    left: -23.5%; } }

@media (max-width: 1100px) {
  .news-slider .headline__content {
    margin-bottom: 25px; }
  .news-slider .tns-outer {
    width: 65%; }
  .news-slider__gallery-arrow--prev {
    left: -150px; }
  .news-slider__gallery-arrow--next {
    left: -11px; }
  .news-slider__info-container {
    width: 25%; }
  .news-slider .tns-nav {
    left: -43.5%; } }

@media (max-width: 1030px) {
  .news-slider__gallery-arrow--next {
    left: 0; } }

@media (max-width: 985px) {
  .news-slider__gallery-arrow--prev {
    left: -135px; }
  .news-slider__gallery-arrow--next {
    left: 20px; } }

@media (max-width: 860px) {
  .news-slider {
    padding-top: 50px;
    height: 550px; }
    .news-slider__info-container {
      display: block;
      top: 50px;
      left: 30%; }
    .news-slider .headline__section {
      text-align: center; }
    .news-slider .headline__content {
      text-align: center;
      margin-bottom: 15px; }
    .news-slider .headline__link {
      left: 90px; }
    .news-slider .tns-controls {
      top: 16.5%;
      left: 50%; }
    .news-slider .tns-nav {
      top: 93%;
      left: 42.5%; }
    .news-slider .tns-outer {
      width: 97%;
      left: 52%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .news-slider__gallery-arrow--prev {
      left: -235px; }
    .news-slider__gallery-arrow--next {
      left: 150px; } }

@media (max-width: 768px) {
  .news-slider__gallery-arrow--prev {
    left: -350px; }
  .news-slider__gallery-arrow--next {
    left: 280px; } }

@media (max-width: 600px) {
  .news-slider__info-container {
    left: 26%; }
  .news-slider__gallery-arrow--prev {
    left: -220px; }
  .news-slider__gallery-arrow--next {
    left: 210px; } }

@media (max-width: 560px) {
  .news-slider__info-container {
    left: 20%; }
  .news-slider__gallery-arrow--prev {
    left: -235px; }
  .news-slider__gallery-arrow--next {
    left: 165px; }
  .news-slider .tns-nav {
    left: 35.5%; } }

@media (max-width: 480px) {
  .news-slider__info-container {
    left: 14.5%; }
  .news-slider .tns-controls {
    left: 50%; }
  .news-slider .tns-nav {
    left: 25%; }
  .news-slider #tns1-mw {
    margin-left: 20%; } }

@media (max-width: 400px) {
  .news-slider .tns-controls {
    top: 90%; }
  .news-slider__gallery-arrow--prev {
    left: -200px; }
  .news-slider__gallery-arrow--next {
    left: 135px; } }

.project-slider {
  position: relative;
  height: 250px; }
  .project-slider .tns-controls {
    position: absolute;
    right: 0;
    height: 38px;
    z-index: 1; }
  .project-slider__gallery-arrow {
    display: block;
    position: absolute;
    border: 1px solid #9d9d9d;
    background-color: transparent;
    border-radius: 50%;
    width: 45px;
    height: 45px; }
    .project-slider__gallery-arrow--prev {
      top: 135px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .project-slider__gallery-arrow--next {
      top: 250px; }
  .project-slider .tns-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -30px;
    top: 180px;
    z-index: 1; }
    .project-slider .tns-nav button {
      margin-top: 10px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #f7f7f7; }
    .project-slider .tns-nav-active {
      background-color: #f19104 !important; }
  .project-slider__slide {
    position: relative;
    max-height: 100vh;
    line-height: 0; }
  .project-slider__info-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 17%;
    top: 30%;
    left: 3%; }
  .project-slider__info {
    position: relative;
    z-index: 10;
    width: 340px; }
  .project-slider .tns-outer {
    position: relative;
    width: 70%;
    left: 94%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .project-slider .tns-inner {
    height: 350px;
    margin-top: 75px !important; }
  .project-slider .arrow::before, .project-slider .arrow::after {
    background-color: #9d9d9d; }
  .project-slider .headline__section {
    color: #3c3c3c; }
  .project-slider .headline__content {
    color: #9d9d9d; }
  .project-slider .headline__link {
    color: #f19104; }
    .project-slider .headline__link span {
      background-color: #f19104; }

@media (max-width: 1030px) {
  .project-slider .pslide {
    width: 215px; } }

@media (max-width: 985px) {
  .project-slider .pslide {
    width: 200px; } }

@media (max-width: 860px) {
  .project-slider .pslide {
    width: 200px; }
  .project-slider .tns-outer {
    width: 50%; }
  .project-slider__info-container {
    left: 15%; } }

@media (max-width: 768px) {
  .project-slider .tns-outer {
    width: 60%; } }

@media (max-width: 600px) {
  .project-slider__info-container {
    display: block;
    top: 0;
    left: 22%; }
  .project-slider__info {
    width: 300px; }
  .project-slider .headline__content {
    text-align: center;
    margin-bottom: 10px; }
  .project-slider .headline__section {
    text-align: center; }
  .project-slider .headline__link {
    left: 25%; }
  .project-slider .tns-outer {
    top: 30%;
    width: 100%; }
  .project-slider .tns-controls {
    left: 50%; }
  .project-slider .tns-nav {
    flex-direction: row;
    justify-content: space-between;
    top: 80%;
    right: 35%; }
    .project-slider .tns-nav button {
      margin: 0 5px; }
  .project-slider #tns2-mw {
    margin-left: 10%; }
  .project-slider .pslide {
    width: 200px; }
  .project-slider__gallery-arrow--prev {
    top: 15px;
    left: -80%; }
  .project-slider__gallery-arrow--next {
    top: 15px;
    left: 80%; } }

@media (max-width: 560px) {
  .project-slider #tns2-mw {
    margin-left: 20%; } }

@media (max-width: 480px) {
  .project-slider__info {
    width: 250px; }
  .project-slider .headline__link {
    left: 20%; }
  .project-slider #tns2-mw {
    margin-left: 10%; } }

@media (max-width: 460px) {
  .project-slider #tns2-mw {
    margin-left: 35%; }
  .project-slider .tns-nav {
    right: 25%; } }

.video iframe {
  width: 400px;
  height: 225px; }

.usevideo {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 150px auto;
  padding: 25px;
  border-radius: 10px;
  background-color: #3c3c3c;
  box-shadow: 0 15px 25px rgba(31, 29, 29, 0.37);
  z-index: 10; }
  .usevideo__information {
    padding-top: 25px;
    padding-left: 20px; }
  .usevideo__content {
    margin-left: 27%; }
  .usevideo .headline__section {
    line-height: 40px;
    margin-bottom: 15px; }
  .usevideo .headline__content {
    color: #9d9d9d; }
  .usevideo .headline__link {
    color: #f19104; }
    .usevideo .headline__link span {
      background-color: #f19104; }

@media (max-width: 1360px) {
  .usevideo__content {
    margin-left: 15%; } }

@media (max-width: 1200px) {
  .usevideo__content {
    margin-left: 15%; } }

@media (max-width: 1100px) {
  .usevideo__content {
    margin-left: 5%; }
  .usevideo__information {
    padding-top: 0;
    padding-left: 0; } }

@media (max-width: 985px) {
  .usevideo .video iframe {
    width: 320px;
    height: 180px; } }

@media (max-width: 860px) {
  .usevideo {
    width: 93%;
    margin: 15% auto; } }

@media (max-width: 700px) {
  .usevideo {
    display: block;
    width: 93%;
    margin: 15% auto; }
    .usevideo__content {
      margin-top: 15px;
      margin-left: 25%; }
    .usevideo .headline__content {
      text-align: center;
      margin-bottom: 10px; }
    .usevideo .headline__section {
      text-align: center; }
    .usevideo .headline__link {
      left: 37%; } }

@media (max-width: 600px) {
  .usevideo {
    margin-top: 35%; }
    .usevideo .headline__section {
      font-size: 2em; } }

@media (max-width: 560px) {
  .usevideo__content {
    margin-left: 20%; } }

@media (max-width: 480px) {
  .usevideo {
    margin-top: 45%; }
    .usevideo .headline__section {
      font-size: 1.5em; }
    .usevideo__content {
      margin-left: 15%; } }

@media (max-width: 400px) {
  .usevideo {
    margin: 0 auto;
    margin-top: 50%;
    width: 86.5%; }
    .usevideo__content {
      margin-left: 2.5%; }
    .usevideo .headline__link {
      left: 30%; } }

.article {
  display: flex;
  justify-content: space-between; }
  .article__left {
    width: 75%;
    text-align: center; }
  .article__picture-container {
    margin: 0 auto; }
  .article__item, .article__region {
    font-size: 14px;
    line-height: 18px;
    color: #3c3c3c; }
  .article__region {
    color: #9d9d9d; }
  .article__headl, .article__content {
    font-size: 18px;
    line-height: 22px;
    color: #282828;
    font-weight: 600;
    margin-bottom: 15px; }
  .article__content {
    font-weight: 500;
    width: 100%;
    margin-bottom: 0; }
  .article__picture-container {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden; }
  .article__picture {
    width: 195%;
    position: relative;
    left: -15px;
    top: 5px; }

.articontainer {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: left;
  background-color: inherit; }
  .articontainer__post {
    width: 60%;
    margin-bottom: 35px;
    margin-left: 30px; }
  .articontainer__caption {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 900;
    color: #3c3c3c; }
  .articontainer__banner {
    font-size: 1em;
    line-height: 20px;
    color: #9d9d9d;
    margin: 15px 0; }
  .articontainer__content .article {
    margin-bottom: 35px; }
    .articontainer__content .article__left {
      text-align: left;
      margin-left: 30px; }
    .articontainer__content .article__right {
      margin-right: 75px;
      width: 120%; }
  .articontainer__content-right .article {
    margin-bottom: 35px; }
    .articontainer__content-right .article__left {
      text-align: center; }
    .articontainer__content-right .article__right {
      margin-right: 100px;
      width: 120%; }
  .articontainer__link {
    display: block;
    right: -70%;
    top: 25px;
    position: relative;
    color: #f19104; }
    .articontainer__link span {
      top: 7.5px;
      left: 155px;
      background-color: #f19104; }

@media (max-width: 985px) {
  .articontainer {
    padding-top: 0;
    padding-bottom: 50px; }
    .articontainer .article__right {
      margin-right: 0; }
    .articontainer .article__content {
      width: 99%; }
    .articontainer__link {
      right: -65%; } }

@media (max-width: 560px) {
  .articontainer__link {
    right: -55%; } }

@media (max-width: 480px) {
  .articontainer__post {
    text-align: center;
    margin: 0 auto; }
  .articontainer .article {
    display: block; }
    .articontainer .article__left {
      margin: 0 auto;
      text-align: center; }
    .articontainer .article__right {
      width: 100%;
      text-align: center; } }

.feedback {
  width: 60%;
  background-color: #f4f6f7;
  margin: 0 auto;
  text-align: center; }
  .feedback__title {
    font-size: 3em;
    font-weight: 900;
    line-height: 50px;
    color: #3c3c3c;
    text-align: center; }
  .feedback__info {
    width: 65%;
    font-size: 1em;
    line-height: 28px;
    color: #9d9d9d;
    text-align: center;
    margin: 15px auto; }
  .feedback__form {
    display: flex;
    justify-content: space-around;
    margin-top: 35px; }
  .feedback input {
    width: 100%;
    height: 25px;
    padding: 10px 15px;
    margin-left: 35px;
    border-radius: 7px;
    outline: 0;
    border: inherit; }
    .feedback input::-webkit-input-placeholder {
      font-family: Raleway;
      font-weight: normal;
      font-size: 100%;
      color: #9d9d9d; }
    .feedback input::-ms-input-placeholder {
      font-family: Raleway;
      font-weight: normal;
      font-size: 100%;
      color: #9d9d9d; }
    .feedback input::placeholder {
      font-family: Raleway;
      font-weight: normal;
      font-size: 100%;
      color: #9d9d9d; }
  .feedback__button {
    align-self: center;
    margin-left: 35px;
    padding: 10px 40px;
    background-color: #f19104;
    color: white;
    border-radius: 7px;
    font-size: medium; }

@media (max-width: 1100px) {
  .feedback {
    width: 75%; } }

@media (max-width: 768px) {
  .feedback {
    width: 85%; } }

@media (max-width: 700px) {
  .feedback__title {
    font-size: 2em; } }

@media (max-width: 560px) {
  .feedback__form {
    display: block; }
  .feedback input {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px; } }

@media (max-width: 480px) {
  .feedback__title {
    font-size: 1.8em;
    line-height: 28px; }
  .feedback__info {
    font-size: 0.85em;
    line-height: 20px; } }

.footer__list {
  display: flex;
  justify-content: space-around;
  padding: 25px 150px;
  border-top: 1px solid #9d9d9d; }

.footer__link {
  font-size: 0.85em;
  line-height: 22px;
  color: #9d9d9d; }

.footer__security {
  font-size: 0.8em;
  border-top: 1px solid #9d9d9d;
  padding: 25px;
  text-align: center;
  color: #9d9d9d; }

.container {
  max-width: 1446px;
  width: 100%;
  margin: 0 auto; }

.article-items {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -265px;
  box-shadow: 0 7.5px 25px rgba(31, 29, 29, 0.37);
  overflow: hidden; }
  .article-items__left {
    background-color: #f7f7f7;
    z-index: -1; }
  .article-items__right {
    padding-left: 50px; }

.feedback-form {
  margin-top: -18.5%;
  background-color: #f4f6f7;
  padding: 75px 0; }

@media (max-width: 1200px) {
  .feedback-form {
    margin-top: -22%; } }

@media (max-width: 1030px) {
  .feedback-form {
    margin-top: -25.5%; } }

@media (max-width: 985px) {
  .article-items {
    display: block;
    top: -100px; }
    .article-items__right {
      padding-left: 0; }
  .feedback-form {
    margin-top: -10.5%; } }

@media (max-width: 700px) {
  .article-items {
    padding-top: 4%; }
  .feedback-form {
    margin-top: -14.5%; } }

@media (max-width: 600px) {
  .article-items {
    padding-top: 10%; } }

@media (max-width: 480px) {
  .article-items {
    padding-top: 15%; }
  .feedback-form {
    padding: 25px 0;
    margin-top: -20.5%; } }

@media (max-width: 400px) {
  .article-items {
    padding-top: 30%; }
  .feedback-form {
    margin-top: -24.5%;
    padding: 20px 0; } }

.tns-outer {
  padding: 0 !important; }

.tns-outer [hidden] {
  display: none !important; }

.tns-outer [aria-controls], .tns-outer [data-action] {
  cursor: pointer; }

.tns-slider {
  transition: all 0s; }

.tns-slider > .tns-item {
  box-sizing: border-box; }

.tns-horizontal.tns-subpixel {
  white-space: nowrap; }

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal; }

.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both; }

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left; }

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%; }

.tns-no-calc {
  position: relative;
  left: 0; }

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px; }

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  transition: opacity 0s, -webkit-transform 0s;
  transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s, -webkit-transform 0s; }

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important; }

.tns-gallery > .tns-moving {
  transition: all 0.25s; }

.tns-autowidth {
  display: inline-block; }

.tns-lazy-img {
  transition: opacity 0.6s;
  opacity: 0.6; }

.tns-lazy-img.tns-complete {
  opacity: 1; }

.tns-ah {
  transition: height 0s; }

.tns-ovh {
  overflow: hidden; }

.tns-visually-hidden {
  position: absolute;
  left: -10000em; }

.tns-transparent {
  opacity: 0;
  visibility: hidden; }

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0; }

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1; }

.tns-vpfix {
  white-space: nowrap; }

.tns-vpfix > div, .tns-vpfix > li {
  display: inline-block; }

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden; }

.tns-t-ct {
  width: 2333.3333333%;
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0; }

.tns-t-ct:after {
  content: '';
  display: table;
  clear: both; }

.tns-t-ct > div {
  width: 1.4285714%;
  width: calc(100% / 70);
  height: 10px;
  float: left; }
