@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input[type="checkbox"], input[type="radio"] {
  cursor: pointer; }

a {
  text-decoration: none;
  cursor: pointer; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer; }

button:focus {
  outline: 0; }

.tns-outer .tns-nav,
.tns-outer button[data-action="stop"],
.tns-outer button[data-action="start"] {
  display: none; }

body {
  line-height: 1;
  font-family: 'Raleway', Arial, Helvetica, sans-serif; }

.learn-more, .learn-more::before, .learn-more::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: inherit; }

.learn-more {
  top: 5px;
  left: 6px; }

.learn-more::before {
  width: 5px;
  top: 1.55px;
  left: 5.5px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

.learn-more::after {
  width: 5px;
  top: -1.55px;
  left: 5.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

@font-face {
  font-family: "Raleway";
  src: url("./../fonts/Raleway/Raleway-Regular.eot?") format("eot"), url("./../fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("./../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("./../fonts/Raleway/Raleway-Regular.ttf") format("truetype"), url('./../fonts/Raleway/Raleway-Regular.svg#str-replace(Raleway, " ", "_")') format("svg"); }

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url("./../fonts/Raleway/Raleway-Bold.eot?") format("eot"), url("./../fonts/Raleway/Raleway-Bold.woff2") format("woff2"), url("./../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("./../fonts/Raleway/Raleway-Bold.ttf") format("truetype"), url('./../fonts/Raleway/Raleway-Bold.svg#str-replace(Raleway, " ", "_")') format("svg"); }

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  src: url("./../fonts/Raleway/Raleway-Italic.eot?") format("eot"), url("./../fonts/Raleway/Raleway-Italic.woff2") format("woff2"), url("./../fonts/Raleway/Raleway-Italic.woff") format("woff"), url("./../fonts/Raleway/Raleway-Italic.ttf") format("truetype"), url('./../fonts/Raleway/Raleway-Italic.svg#str-replace(Raleway, " ", "_")') format("svg"); }

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: bold;
  src: url("./../fonts/Raleway/Raleway-BoldItalic.eot?") format("eot"), url("./../fonts/Raleway/Raleway-BoldItalic.woff2") format("woff2"), url("./../fonts/Raleway/Raleway-BoldItalic.woff") format("woff"), url("./../fonts/Raleway/Raleway-BoldItalic.ttf") format("truetype"), url('./../fonts/Raleway/Raleway-BoldItalic.svg#str-replace(Raleway, " ", "_")') format("svg"); }

@font-face {
  font-family: "Lato";
  src: url("./../fonts/Lato/Lato-Regular.eot?") format("eot"), url("./../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("./../fonts/Lato/Lato-Regular.woff") format("woff"); }

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url("./../fonts/Lato/Lato-Bold.eot?") format("eot"), url("./../fonts/Lato/Lato-Bold.ttf") format("truetype"), url("./../fonts/Lato/Lato-Bold.woff") format("woff"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("./../fonts/Lato/Lato-Italic.eot?") format("eot"), url("./../fonts/Lato/Lato-Italic.ttf") format("truetype"), url("./../fonts/Lato/Lato-Italic.woff") format("woff"); }

@font-face {
  font-family: 'iconic';
  src: url("./../iconfont/iconfont.eot");
  src: url("./../iconfont/iconfont.eot?iefix") format("eot"), url("./../iconfont/iconfont.woff") format("woff"), url("./../iconfont/iconfont.ttf") format("ttf"), url("./../iconfont/iconfont.svg#iconic") format("svg"); }

.iconic {
  font-family: 'iconic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  line-height: normal;
  vertical-align: middle; }
  .iconic--shopping-cart::after {
    content: ""; }
  .iconic--user::after {
    content: ""; }
  .iconic--four-columns::after {
    content: ""; }
  .iconic--two-columns::after {
    content: ""; }
  .iconic--photo::after {
    content: ""; }
  .iconic--calendar::after {
    content: ""; }
  .iconic--email::after {
    content: ""; }
  .iconic--facebook::after {
    content: ""; }
  .iconic--instagram::after {
    content: ""; }
  .iconic--location::after {
    content: ""; }
  .iconic--paper-plane::after {
    content: ""; }
  .iconic--phone-call::after {
    content: ""; }
  .iconic--search::after {
    content: ""; }
  .iconic--vk::after {
    content: ""; }
  .iconic--sent-mail::after {
    content: ""; }
  .iconic--paper-clip::after {
    content: ""; }
  .iconic--print::after {
    content: ""; }

.header {
  position: fixed;
  display: flex;
  top: 0;
  background-color: #ef4c2a;
  justify-content: space-between;
  padding: 17px 40px;
  z-index: 15; }
  .header__icon {
    width: 17.3%; }
  .header__menubar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .header__about-us {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header__dropdown-box {
    margin-left: 30px; }
  .header__login {
    align-self: center;
    margin-left: 15px;
    padding: 5px 33px;
    background-color: #f7f7f7;
    color: #ef4c2a;
    border-radius: 7px;
    font-size: medium; }
  .header__info, .header__sailing {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; }
  .header__title, .header__item {
    margin-left: 25px; }
  .header__title-link, .header__item-link {
    font-size: 0.87em;
    line-height: 0.5em;
    color: rgba(244, 246, 247, 0.5); }
  .header__item-link {
    color: #f7f7f7;
    font-size: 1em; }

.dropdown {
  font-family: Raleway; }
  .dropdown--initialized .dropdown__origional {
    position: absolute;
    -webkit-transform: scale(0.001);
            transform: scale(0.001);
    opacity: 0.001; }
  .dropdown__origional {
    display: block;
    width: 45px; }
  .dropdown__fake {
    display: inline-block;
    position: relative; }
    .dropdown__fake-select {
      position: relative;
      padding: 6px 7px;
      width: 45px;
      font: inherit;
      font-size: 14px;
      text-align: left;
      background-color: transparent;
      color: rgba(244, 246, 247, 0.5);
      cursor: pointer; }
      .dropdown__fake-select::before, .dropdown__fake-select::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 1px;
        height: 6px;
        background-color: rgba(244, 246, 247, 0.5); }
      .dropdown__fake-select::before {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        right: 13px; }
      .dropdown__fake-select::after {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        right: 9.5px; }
    .dropdown__fake-list {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      z-index: 10;
      max-height: 300px;
      overflow-y: auto;
      opacity: 0;
      transition: opacity 0.6s;
      border: 1px solid #f7f7f7;
      color: rgba(244, 246, 247, 0.5); }
      .dropdown__fake-list--opened {
        display: block;
        opacity: 1; }
    .dropdown__fake-option {
      padding: 9px 12px;
      font-size: 13px;
      background-color: #ef4c2a;
      cursor: pointer; }
      .dropdown__fake-option--active {
        display: none; }

.headline {
  background-color: transparent; }
  .headline__section {
    font-size: 2.5em;
    line-height: 70px;
    font-weight: 800;
    color: #f7f7f7; }
  .headline__content {
    font-size: 1em;
    line-height: 22px;
    color: #f7f7f7;
    margin-bottom: 40px; }
  .headline__link {
    position: relative;
    color: rgba(244, 246, 247, 0.5); }
    .headline__link span {
      top: 10px;
      left: 155px;
      background-color: rgba(244, 246, 247, 0.5); }

.nslide {
  display: block;
  width: 200px;
  border-radius: 15px;
  background-color: white;
  padding: 15px 25px;
  box-shadow: 0 15px 50px rgba(31, 29, 29, 0.5); }
  .nslide__location {
    background: linear-gradient(to right, #ef4c2a, #f19104);
    padding: 2px 10px;
    width: 35%;
    font-size: 1em;
    line-height: 18px;
    text-align: right;
    color: #f7f7f7;
    margin: 10px 0; }
  .nslide__headline {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 18px;
    color: #3c3c3c; }
  .nslide__datatime, .nslide__from {
    font-size: 12px;
    line-height: 24px;
    color: #9d9d9d;
    margin-bottom: 5px; }
  .nslide__content {
    margin: 15px 0;
    font-size: 14px;
    line-height: 18px;
    color: #3c3c3c; }
  .nslide__from {
    color: #9d9d9d; }
  .nslide:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 270px;
    box-shadow: none;
    background: linear-gradient(rgba(36, 35, 35, 0.39), rgba(36, 35, 35, 0.39)), url(/app/assets/images/background-image.png) no-repeat 35%;
    background-size: cover; }
    .nslide:hover .nslide__headline {
      color: #f7f7f7; }
    .nslide:hover .nslide__content {
      display: none; }

.pslide {
  width: 250px;
  margin-bottom: 25px; }
  .pslide__section {
    font-size: 1.2em;
    line-height: 22px;
    font-weight: 600;
    color: #3c3c3c;
    margin: 10px 0; }
  .pslide__data {
    display: flex; }
  .pslide__key-item, .pslide__value-list {
    font-size: 0.75em;
    line-height: 16px;
    color: #9d9d9d; }
  .pslide__value-list {
    color: #282828;
    margin-left: 15px; }

main {
  padding: 50px; }

.tns-outer {
  padding: 0 !important; }

.tns-outer [hidden] {
  display: none !important; }

.tns-outer [aria-controls], .tns-outer [data-action] {
  cursor: pointer; }

.tns-slider {
  transition: all 0s; }

.tns-slider > .tns-item {
  box-sizing: border-box; }

.tns-horizontal.tns-subpixel {
  white-space: nowrap; }

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal; }

.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both; }

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left; }

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%; }

.tns-no-calc {
  position: relative;
  left: 0; }

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px; }

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  transition: opacity 0s, -webkit-transform 0s;
  transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s, -webkit-transform 0s; }

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important; }

.tns-gallery > .tns-moving {
  transition: all 0.25s; }

.tns-autowidth {
  display: inline-block; }

.tns-lazy-img {
  transition: opacity 0.6s;
  opacity: 0.6; }

.tns-lazy-img.tns-complete {
  opacity: 1; }

.tns-ah {
  transition: height 0s; }

.tns-ovh {
  overflow: hidden; }

.tns-visually-hidden {
  position: absolute;
  left: -10000em; }

.tns-transparent {
  opacity: 0;
  visibility: hidden; }

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0; }

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1; }

.tns-vpfix {
  white-space: nowrap; }

.tns-vpfix > div, .tns-vpfix > li {
  display: inline-block; }

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden; }

.tns-t-ct {
  width: 2333.3333333%;
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0; }

.tns-t-ct:after {
  content: '';
  display: table;
  clear: both; }

.tns-t-ct > div {
  width: 1.4285714%;
  width: calc(100% / 70);
  height: 10px;
  float: left; }
