.footer {

    &__list {
        display: flex;
        justify-content: space-around;
        padding: 25px 150px;
        border-top: 1px solid $gray;
    }

    &__link {
        font-size: 0.85em;
        line-height: 22px;
        color: $gray;
    }

    &__security {
        font-size: 0.8em;
        border-top: 1px solid $gray;
        padding: 25px;
        text-align: center;
        color: $gray;
    }
}

@media (max-width: $laptopLg) {
    .footer {
        &__list {
            padding: 20px 50px;
        }
    }
}

@media (max-width: $laptop) {
    .footer {
        &__list {
            padding: 20px 5px;
        }
    }
}

@media (max-width: $laptopXs) {
    .footer {
        &__security {
            padding: 10px;
        }
    }
}

@media (max-width: $tablet) {
    .footer {
        &__list {
            flex-wrap: wrap;
        }

        &__item {
            margin: 0 5px;
        }
    }
}

@media (max-width: $mobile) {
    .footer {
        &__item {
            margin: 0;
            margin-left: 25px;
        }
    }
}